@font-face {
    font-family: 'AsebiSubset-Sakura';
    src: url('AsebiSubset-Sakura.woff') format('woff'),
         url('AsebiSubset-Sakura.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
